# Тренировка работы с pandas
В этом ноутбуке представлены 40 заданий по работе с pandas на основе датасета Titanic.

In [ ]:
import pandas as pd
import numpy as np

## Задание 1
Загрузите датасет Titanic из CSV-файла `train.csv` в переменную `df`. Убедитесь, что данные загружаются в виде DataFrame.

In [ ]:
# Ваш код здесь

## Задание 2
Получите основную информацию о DataFrame, используя метод `info()`. Сохраните результат в переменную `info_result`.

In [ ]:
# Ваш код здесь

## Задание 3
Получите список столбцов DataFrame и сохраните его в переменную `columns`.

In [ ]:
# Ваш код здесь

## Задание 4
Вычислите описательную статистику DataFrame с помощью метода `describe()` и сохраните результат в переменную `stats`.

In [ ]:
# Ваш код здесь

## Задание 5
Подсчитайте количество пропущенных значений в каждом столбце. Результат сохраните в переменную `missing_values`.

In [ ]:
# Ваш код здесь

## Задание 6
Определите типы данных каждого столбца. Сохраните результат в переменную `dtypes`.

In [ ]:
# Ваш код здесь

## Задание 7
Выберите несколько (не все) столбцов из DataFrame и сохраните их в переменную `selected_columns`.

In [ ]:
# Ваш код здесь

## Задание 8
Выведите первые и последние строки таблицы с помощью методов `head()` и `tail()`. Сохраните их в переменные `head_rows` и `tail_rows`.

In [ ]:
# Ваш код здесь

## Задание 9
Получите случайную выборку строк из DataFrame. Сохраните результат в переменную `sample_df`.

In [ ]:
# Ваш код здесь

## Задание 10
Получите уникальные значения из одного из столбцов (например, 'Sex') и сохраните в переменную `unique_values`.

In [ ]:
# Ваш код здесь

## Задание 11
Подсчитайте частоту значений в одном из столбцов (например, 'Pclass') и сохраните результат в переменную `value_counts`.

In [ ]:
# Ваш код здесь

## Задание 12
Отфильтруйте строки DataFrame по значению в одном из столбцов (например, пассажиры класса 1). Результат сохраните в `filtered_df`.

In [ ]:
# Ваш код здесь

## Задание 13
Примените сразу несколько фильтров (например, пассажиры женского пола старше 30 лет). Сохраните результат в `multi_filtered_df`.

In [ ]:
# Ваш код здесь

## Задание 14
Отсортируйте DataFrame по одному из числовых столбцов (например, 'Fare'). Сохраните результат в `sorted_df`.

In [ ]:
# Ваш код здесь

## Задание 15
Сбросьте индекс в DataFrame и сохраните результат в `reset_index_df`.

In [ ]:
# Ваш код здесь

## Задание 16
Переименуйте хотя бы один столбец (например, 'Sex' на 'Gender'). Сохраните изменённый DataFrame в переменную `renamed_df`.

In [ ]:
# Ваш код здесь

## Задание 17
Добавьте новый столбец в DataFrame, основанный на вычислениях (например, удвоенное значение Fare). Сохраните результат в `calculated_df`.

In [ ]:
# Ваш код здесь

## Задание 18
Примените функцию к значениям одного из столбцов с помощью метода `apply()`. Сохраните результат в `applied_df`.

In [ ]:
# Ваш код здесь

## Задание 19
Выведите описательную статистику для одного столбца (например, 'Age') и сохраните в переменную `column_stats`.

In [ ]:
# Ваш код здесь

## Задание 20
Сгруппируйте данные по какому-либо признаку и посчитайте количество элементов в каждой группе (например, по 'Embarked'). Сохраните результат в `group_counts`.

In [ ]:
# Ваш код здесь

## Задание 21
Создайте маску, указывающую на пропущенные значения с помощью метода `isnull()`. Сохраните результат в `null_mask`.

In [ ]:
# Ваш код здесь

## Задание 22
Удалите один или несколько столбцов из DataFrame. Результат сохраните в переменной `dropped_df`.

In [ ]:
# Ваш код здесь

## Задание 23
Удалите дубликаты из DataFrame с помощью метода `drop_duplicates()`. Сохраните результат в `no_duplicates_df`.

In [ ]:
# Ваш код здесь

## Задание 24
Отфильтруйте строки с помощью метода `query()`. Сохраните результат в переменную `query_result`.

In [ ]:
# Ваш код здесь

## Задание 25
Используйте булеву индексацию для фильтрации данных. Результат сохраните в переменную `boolean_index_result`.

In [ ]:
# Ваш код здесь

## Задание 26
Преобразуйте типы данных в одном или нескольких столбцах с помощью метода `astype()`. Сохраните результат в `converted_df`.

In [ ]:
# Ваш код здесь

## Задание 27
Преобразуйте один или несколько столбцов в категориальный тип данных. Сохраните результат в `categorical_df`.

In [ ]:
# Ваш код здесь

## Задание 28
Проверьте наличие дубликатов строк с помощью метода `duplicated()`. Сохраните булеву маску в переменную `duplicates_mask`.

In [ ]:
# Ваш код здесь

## Задание 29
Используйте `loc` для доступа к данным (например, выбор строк по меткам). Сохраните результат в `loc_result`.

In [ ]:
# Ваш код здесь

## Задание 30
Используйте `iloc` для доступа к данным (например, выбор строк по индексам). Сохраните результат в `iloc_result`.

In [ ]:
# Ваш код здесь

## Задание 31
Округлите значения в числовых столбцах до целых чисел с помощью метода `round()`. Сохраните результат в `rounded_df`.

In [ ]:
# Ваш код здесь

## Задание 32
Создайте копию DataFrame с помощью метода `copy()`. Сохраните результат в `df_copy`.

In [ ]:
# Ваш код здесь

## Задание 33
Преобразуйте DataFrame в массив NumPy. Сохраните результат в `numpy_array`.

In [ ]:
# Ваш код здесь

## Задание 34
Замените значения в одном из столбцов (например, 'male' на 'M', 'female' на 'F'). Сохраните результат в `replaced_df`.

In [ ]:
# Ваш код здесь

## Задание 35
Получите размерность DataFrame с помощью свойства `shape`. Сохраните результат в `df_shape`.

In [ ]:
# Ваш код здесь

## Задание 36
Используйте метод `between()` для фильтрации строк по диапазону значений. Сохраните результат в `between_result`.

In [ ]:
# Ваш код здесь

## Задание 37
Добавьте новый столбец в DataFrame с произвольными данными. Сохраните результат в `df_with_new_column`.

In [ ]:
# Ваш код здесь

## Задание 38
Примените строковые методы (например, `str.lower()` или `str.contains()`) к одному из текстовых столбцов. Сохраните результат в `string_processed_df`.

In [ ]:
# Ваш код здесь

## Задание 39
Сохраните DataFrame в CSV-файл с помощью метода `to_csv()`. Убедитесь, что файл сохранился. Можно сохранить флаг в переменную `csv_saved = True`.

In [ ]:
# Ваш код здесь

## Задание 40
Оцените объём памяти, занимаемый DataFrame, с помощью метода `memory_usage()` или `memory_usage(deep=True)`. Сохраните результат в переменную `memory_usage`.

In [ ]:
# Ваш код здесь