In [1]:
import pandas as pd

df = pd.read_csv('../datasets/6_pandas_data.csv')

# Описание данных
print(df.info())
print(df.head())
print(df.describe())
print(df.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77260 entries, 0 to 77259
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 77260 non-null  object
 1   address            77260 non-null  object
 2   categories         77260 non-null  object
 3   city               77260 non-null  object
 4   cuisines           38384 non-null  object
 5   dateAdded          77260 non-null  object
 6   dateUpdated        77260 non-null  object
 7   latitude           55636 non-null  float64
 8   longitude          55636 non-null  float64
 9   menus.category     3729 non-null   object
 10  menus.currency     40511 non-null  object
 11  menus.dateSeen     77260 non-null  object
 12  menus.description  29323 non-null  object
 13  menus.name         77260 non-null  object
 14  name               77257 non-null  object
 15  province           77257 non-null  object
dtypes: float64(2), object(14)
memory usage: 9.4+ MB
None
                     id                   address  \
0  AVwc__cikufWRAb51QjV         610 Commercial St
1  AVwc__cikufWRAb51QjV         610 Commercial St
2  AVwc__dF_7pvs4fz1Ncy      9521 Morton Davis Dr
3  AVwc__kCByjofQCxkdm-  10550 W I 25 Frontage Rd
4  AVwc__WtByjofQCxkdkR             8495 W 3rd St

                                          categories         city  \
0  Restaurant Delivery Service,Restaurants,Pizza,...     Atchison
1  Restaurant Delivery Service,Restaurants,Pizza,...     Atchison
2       Golf Course, American Restaurant, and Resort    Patterson
3                               Fast Food Restaurant     Longmont
4  Mexican Restaurant Mid-City West,Mexican Resta...  Los Angeles

                      cuisines             dateAdded           dateUpdated  \
0  Restaurant Delivery Service  2016-03-02T11:49:34Z  2017-02-01T18:04:44Z
1  Restaurant Delivery Service  2016-03-02T11:49:34Z  2017-02-01T18:04:44Z
2                          NaN  2016-10-14T01:58:25Z  2016-10-14T01:58:25Z
3                          NaN  2016-09-09T17:30:34Z  2016-10-04T05:15:17Z
4                      Mexican  2016-05-19T11:50:25Z  2016-09-11T00:06:37Z

    latitude   longitude menus.category menus.currency        menus.dateSeen  \
0  39.561570  -95.121020            NaN            NaN  2017-02-01T18:04:44Z
1  39.561570  -95.121020            NaN            NaN  2016-03-02T11:49:34Z
2  37.401855 -121.266703            NaN            NaN  2016-10-14T01:58:25Z
3        NaN         NaN            NaN            NaN  2016-09-09T17:30:34Z
4  34.080724 -118.389578            NaN            NaN  2016-05-19T11:50:25Z

                                   menus.description         menus.name  \
0                                                NaN               Taco
1  Beef, onion, cheddar cheese, lettuce,  refried...               Taco
2  Beef barbacoa or chicken, spanish rice, pico d...   Smotherd Burrito
3                                                NaN    Sausage Burrito
4  Wahoo, avocado, cabbage, pico de gallo  and av...  Wahoo Tacogrilled

                                name      province
0                    Gambino's Pizza            KS
1                    Gambino's Pizza            KS
2  Diablo Grande Golf & Country Club       Grayson
3                         Mcdonald's         Niwot
4           Baja Fresh Mexican Grill  Bicentennial
           latitude     longitude
count  55636.000000  55636.000000
mean      36.694846    -98.713309
std        4.835124     18.245857
min      -31.986438   -159.492690
25%       33.668355   -117.647150
50%       36.047195    -96.682320
75%       40.588380    -82.679930
max       61.219460    115.903696
id                    object
address               object
categories            object
city                  object
cuisines              object
dateAdded             object
dateUpdated           object
latitude             float64
longitude            float64
menus.category        object
menus.currency        object
menus.dateSeen        object
menus.description     object
menus.name            object
name                  object
province              object
dtype: object

## Описание данных:

- `id` - уникальный идентификатор заведения
- `address` - физический адрес заведения
- `categories` - категории заведения (например, "Fast food restaurant").
- `city` - город, в котором заведение находится.
- `cuisines` - кухни, которые практикуются в заведении. Например "Mexican".
- `dateAdded` - дата добавления записи. Будем считать, что она совпадает с датой открытия заведения.
- `dateUpdated` - дата обновления информации о заведении.
- `latitude` - географическая широта.
- `longitude` - географическая долгота.
- `menus.category` - категории пищи в меню.
- `menus.currency` - валюта, в которой принимают оплату.
- `menus.dateSeen` - дата, когда было заведено это меню.
- `menus.description` - описание меню от заведения.
- `menus.name` - название меню.
- `name` - название заведения.
- `province` - область (штат), где находится заведение.

In [9]:
# Посмотрим сколько пропущенных данных
# print(df.isna().sum())

#  Удалим пропуски
print(df.dropna().info())
# print(df.info())
# df = df.dropna()
# print(df.info())

print(f"Indexes in California {df.index[df["city"] == "California"].tolist()}")
print(f"Indexes in California and name = Taco Bell {df.index[(df['categories'] == "Taco Bell") & (df["city"] == "California")].tolist()}")

<class 'pandas.core.frame.DataFrame'>
Index: 1925 entries, 72 to 77014
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1925 non-null   object
 1   address            1925 non-null   object
 2   categories         1925 non-null   object
 3   city               1925 non-null   object
 4   cuisines           1925 non-null   object
 5   dateAdded          1925 non-null   object
 6   dateUpdated        1925 non-null   object
 7   latitude           1925 non-null   float64
 8   longitude          1925 non-null   float64
 9   menus.category     1925 non-null   object
 10  menus.currency     1925 non-null   object
 11  menus.dateSeen     1925 non-null   object
 12  menus.description  1925 non-null   object
 13  menus.name         1925 non-null   object
 14  name               1925 non-null   object
 15  province           1925 non-null   object
dtypes: float64(2), object(14)
memory usage: 255.7+ KB
None
Indexes in California [40483, 52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938, 52939, 65070]
Indexes in California and name = Taco Bell []