In [1]:
import pandas as pd

df = pd.read_csv('../datasets/6_pandas_data.csv')

# Описание данных
print(df.info())
print(df.head())
print(df.describe())
print(df.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77260 entries, 0 to 77259
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 77260 non-null  object
 1   address            77260 non-null  object
 2   categories         77260 non-null  object
 3   city               77260 non-null  object
 4   cuisines           38384 non-null  object
 5   dateAdded          77260 non-null  object
 6   dateUpdated        77260 non-null  object
 7   latitude           55636 non-null  float64
 8   longitude          55636 non-null  float64
 9   menus.category     3729 non-null   object
 10  menus.currency     40511 non-null  object
 11  menus.dateSeen     77260 non-null  object
 12  menus.description  29323 non-null  object
 13  menus.name         77260 non-null  object
 14  name               77257 non-null  object
 15  province           77257 non-null  object
dtypes: float64(2), object(14)
memory usage: 9.4+ MB
None
                     id                   address  \
0  AVwc__cikufWRAb51QjV         610 Commercial St
1  AVwc__cikufWRAb51QjV         610 Commercial St
2  AVwc__dF_7pvs4fz1Ncy      9521 Morton Davis Dr
3  AVwc__kCByjofQCxkdm-  10550 W I 25 Frontage Rd
4  AVwc__WtByjofQCxkdkR             8495 W 3rd St

                                          categories         city  \
0  Restaurant Delivery Service,Restaurants,Pizza,...     Atchison
1  Restaurant Delivery Service,Restaurants,Pizza,...     Atchison
2       Golf Course, American Restaurant, and Resort    Patterson
3                               Fast Food Restaurant     Longmont
4  Mexican Restaurant Mid-City West,Mexican Resta...  Los Angeles

                      cuisines             dateAdded           dateUpdated  \
0  Restaurant Delivery Service  2016-03-02T11:49:34Z  2017-02-01T18:04:44Z
1  Restaurant Delivery Service  2016-03-02T11:49:34Z  2017-02-01T18:04:44Z
2                          NaN  2016-10-14T01:58:25Z  2016-10-14T01:58:25Z
3                          NaN  2016-09-09T17:30:34Z  2016-10-04T05:15:17Z
4                      Mexican  2016-05-19T11:50:25Z  2016-09-11T00:06:37Z

    latitude   longitude menus.category menus.currency        menus.dateSeen  \
0  39.561570  -95.121020            NaN            NaN  2017-02-01T18:04:44Z
1  39.561570  -95.121020            NaN            NaN  2016-03-02T11:49:34Z
2  37.401855 -121.266703            NaN            NaN  2016-10-14T01:58:25Z
3        NaN         NaN            NaN            NaN  2016-09-09T17:30:34Z
4  34.080724 -118.389578            NaN            NaN  2016-05-19T11:50:25Z

                                   menus.description         menus.name  \
0                                                NaN               Taco
1  Beef, onion, cheddar cheese, lettuce,  refried...               Taco
2  Beef barbacoa or chicken, spanish rice, pico d...   Smotherd Burrito
3                                                NaN    Sausage Burrito
4  Wahoo, avocado, cabbage, pico de gallo  and av...  Wahoo Tacogrilled

                                name      province
0                    Gambino's Pizza            KS
1                    Gambino's Pizza            KS
2  Diablo Grande Golf & Country Club       Grayson
3                         Mcdonald's         Niwot
4           Baja Fresh Mexican Grill  Bicentennial
           latitude     longitude
count  55636.000000  55636.000000
mean      36.694846    -98.713309
std        4.835124     18.245857
min      -31.986438   -159.492690
25%       33.668355   -117.647150
50%       36.047195    -96.682320
75%       40.588380    -82.679930
max       61.219460    115.903696
id                    object
address               object
categories            object
city                  object
cuisines              object
dateAdded             object
dateUpdated           object
latitude             float64
longitude            float64
menus.category        object
menus.currency        object
menus.dateSeen        object
menus.description     object
menus.name            object
name                  object
province              object
dtype: object

## Описание данных:

- `id` - уникальный идентификатор заведения
- `address` - физический адрес заведения
- `categories` - категории заведения (например, "Fast food restaurant").
- `city` - город, в котором заведение находится.
- `cuisines` - кухни, которые практикуются в заведении. Например "Mexican".
- `dateAdded` - дата добавления записи. Будем считать, что она совпадает с датой открытия заведения.
- `dateUpdated` - дата обновления информации о заведении.
- `latitude` - географическая широта.
- `longitude` - географическая долгота.
- `menus.category` - категории пищи в меню.
- `menus.currency` - валюта, в которой принимают оплату.
- `menus.dateSeen` - дата, когда было заведено это меню.
- `menus.description` - описание меню от заведения.
- `menus.name` - название меню.
- `name` - название заведения.
- `province` - область (штат), где находится заведение.

In [11]:
# Посмотрим сколько пропущенных данных
# print(df.isna().sum())

#  Удалим пропуски
print(df.dropna().info())
# print(df.info())
# df = df.dropna()
# print(df.info())

print(f"Indexes in California {df.index[df["city"] == "California"].tolist()}")
print(f"Indexes in California and name = Taco Bell {df.index[(df['categories'] == "Taco Bell") & (df["city"] == "California")].tolist()}")

<class 'pandas.core.frame.DataFrame'>
Index: 1925 entries, 72 to 77014
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1925 non-null   object
 1   address            1925 non-null   object
 2   categories         1925 non-null   object
 3   city               1925 non-null   object
 4   cuisines           1925 non-null   object
 5   dateAdded          1925 non-null   object
 6   dateUpdated        1925 non-null   object
 7   latitude           1925 non-null   float64
 8   longitude          1925 non-null   float64
 9   menus.category     1925 non-null   object
 10  menus.currency     1925 non-null   object
 11  menus.dateSeen     1925 non-null   object
 12  menus.description  1925 non-null   object
 13  menus.name         1925 non-null   object
 14  name               1925 non-null   object
 15  province           1925 non-null   object
dtypes: float64(2), object(14)
memory usage: 255.7+ KB
None
Indexes in California [40483, 52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938, 52939, 65070]
Indexes in California and name = Taco Bell []
                         id          address  \
131    AVwc_9yCByjofQCxkdRX  322 S. Broadway
132    AVwc_9yCByjofQCxkdRX  322 S. Broadway
133    AVwc_9yCByjofQCxkdRX  322 S. Broadway
135    AVwc_9yCByjofQCxkdRX  322 S. Broadway
136    AVwc_9yCByjofQCxkdRX  322 S. Broadway
...                     ...              ...
76904  AVweZN9nByjofQCxxz4o    754 Ninth Ave
76905  AVweZN9nByjofQCxxz4o    754 Ninth Ave
76906  AVweZN9nByjofQCxxz4o    754 Ninth Ave
76907  AVweZN9nByjofQCxxz4o    754 Ninth Ave
76908  AVweZN9nByjofQCxxz4o    754 Ninth Ave

                                              categories      city  \
131    Fast Food,Restaurants,Mexican,Breakfast,Vegeta...     Salem
132    Fast Food,Restaurants,Mexican,Breakfast,Vegeta...     Salem
133    Fast Food,Restaurants,Mexican,Breakfast,Vegeta...     Salem
135    Fast Food,Restaurants,Mexican,Breakfast,Vegeta...     Salem
136    Fast Food,Restaurants,Mexican,Breakfast,Vegeta...     Salem
...                                                  ...       ...
76904                                         Restaurant  New York
76905                                         Restaurant  New York
76906                                         Restaurant  New York
76907                                         Restaurant  New York
76908                                         Restaurant  New York

                                     cuisines             dateAdded  \
131                                   Mexican  2016-03-28T06:01:51Z
132                                   Mexican  2016-03-28T06:01:51Z
133                                   Mexican  2016-03-28T06:01:51Z
135                                   Mexican  2016-03-28T06:01:51Z
136                                   Mexican  2016-03-28T06:01:51Z
...                                       ...                   ...
76904  Mexican, American, Traditional Mexican  2015-10-19T20:44:15Z
76905  Mexican, American, Traditional Mexican  2015-10-19T20:44:15Z
76906  Mexican, American, Traditional Mexican  2015-10-19T20:44:15Z
76907  Mexican, American, Traditional Mexican  2015-10-19T20:44:15Z
76908  Mexican, American, Traditional Mexican  2015-10-19T20:44:15Z

                dateUpdated   latitude  longitude menus.category  \
131    2017-06-27T10:01:48Z  42.755023 -71.209440            NaN
132    2017-06-27T10:01:48Z  42.755023 -71.209440            NaN
133    2017-06-27T10:01:48Z  42.755023 -71.209440            NaN
135    2017-06-27T10:01:48Z  42.755023 -71.209440            NaN
136    2017-06-27T10:01:48Z  42.755023 -71.209440            NaN
...                     ...        ...        ...            ...
76904  2016-08-22T11:24:07Z  40.763858 -73.988327          Tacos
76905  2016-08-22T11:24:07Z  40.763858 -73.988327   Huevos, Etc.
76906  2016-08-22T11:24:07Z  40.763858 -73.988327        Botanas
76907  2016-08-22T11:24:07Z  40.763858 -73.988327        Botanas
76908  2016-08-22T11:24:07Z  40.763858 -73.988327           Main

      menus.currency                             menus.dateSeen  \
131              NaN  2016-03-28T06:01:51Z,2016-06-06T16:15:44Z
132              NaN  2016-03-28T06:01:51Z,2016-06-06T16:15:44Z
133              NaN  2016-03-28T06:01:51Z,2016-06-06T16:15:44Z
135              NaN  2016-03-28T06:01:51Z,2016-06-06T16:15:44Z
136              NaN  2016-03-28T06:01:51Z,2016-06-06T16:15:44Z
...              ...                                        ...
76904            USD                       2016-08-21T00:00:00Z
76905            USD                       2016-08-07T00:00:00Z
76906            USD                       2016-08-07T00:00:00Z
76907            USD                       2016-08-07T00:00:00Z
76908            NaN                       2016-08-21T00:00:00Z

                 menus.description                      menus.name  \
131                            NaN                 Volcano Burrito
132                            NaN                    Taco 12 Pack
133                            NaN         Grilled Steak Soft Taco
135                            NaN  Fresco Grilled Steak Soft Taco
136                            NaN             Fresco Crunchy Taco
...                            ...                             ...
76904                          NaN                   Trio of Tacos
76905                          NaN                  Brunch Burrito
76906                          NaN    Grilled Chicken Mini Burrito
76907  with pumpkin seed guacamole  Grilled Vegetable Mini Burrito
76908                          NaN                        Burritos

                 name province
131         Taco Bell       NH
132         Taco Bell       NH
133         Taco Bell       NH
135         Taco Bell       NH
136         Taco Bell       NH
...               ...      ...
76904  Hell's Kitchen      Nyc
76905  Hell's Kitchen      Nyc
76906  Hell's Kitchen      Nyc
76907  Hell's Kitchen      Nyc
76908  Hell's Kitchen      Nyc

[3756 rows x 16 columns]

In [ ]:
print(df[((df['name'] == 'Taco Bell') | (df['city'] == 'New York')) & ~((df['menus.name'] == 'Volcano Taco') | (df['menus.name'] == 'Fresco Soft Taco'))])

In [12]:
print(df[~(df['menus.currency'].isna())])

                         id           address  \
15     AVwc_1y6kufWRAb51O6w   906 Park Ave SW
16     AVwc_1y6kufWRAb51O6w   906 Park Ave SW
17     AVwc_1y6kufWRAb51O6w   906 Park Ave SW
18     AVwc_2OQ_7pvs4fz1L5H  100 W Higgins Rd
19     AVwc_2OQ_7pvs4fz1L5H  100 W Higgins Rd
...                     ...               ...
77255  AVzRLlQNLD2H7whiWdH_     3919 24th St.
77256  AVzRLlQNLD2H7whiWdH_     3919 24th St.
77257  AVzRLlQNLD2H7whiWdH_     3919 24th St.
77258  AVzRLlQNLD2H7whiWdH_     3919 24th St.
77259  AVzRLlQNLD2H7whiWdH_     3919 24th St.

                                 categories           city  \
15     Coffee Shop,Restaurants,Coffeehouses    Albuquerque
16     Coffee Shop,Restaurants,Coffeehouses    Albuquerque
17     Coffee Shop,Restaurants,Coffeehouses    Albuquerque
18                               Restaurant     Barrington
19                               Restaurant     Barrington
...                                     ...            ...
77255                            Restaurant  San Francisco
77256                            Restaurant  San Francisco
77257                            Restaurant  San Francisco
77258                            Restaurant  San Francisco
77259                            Restaurant  San Francisco

                      cuisines             dateAdded           dateUpdated  \
15                Coffee Shops  2016-06-05T20:15:56Z  2017-07-06T13:28:29Z
16                Coffee Shops  2016-06-05T20:15:56Z  2017-07-06T13:28:29Z
17                Coffee Shops  2016-06-05T20:15:56Z  2017-07-06T13:28:29Z
18     Mexican, Latin American  2016-07-26T17:39:41Z  2016-08-26T05:25:56Z
19     Mexican, Latin American  2016-07-26T17:39:41Z  2016-08-26T05:25:56Z
...                        ...                   ...                   ...
77255                  Mexican  2017-06-22T19:01:33Z  2017-06-22T19:01:33Z
77256                  Mexican  2017-06-22T19:01:33Z  2017-06-22T19:01:33Z
77257                  Mexican  2017-06-22T19:01:33Z  2017-06-22T19:01:33Z
77258                  Mexican  2017-06-22T19:01:33Z  2017-06-22T19:01:33Z
77259                  Mexican  2017-06-22T19:01:33Z  2017-06-22T19:01:33Z

        latitude   longitude menus.category menus.currency  \
15     35.085320 -106.657616            NaN            USD
16     35.085320 -106.657616            NaN            USD
17     35.085320 -106.657616            NaN            USD
18     42.074974  -88.189151            NaN            USD
19     42.074974  -88.189151            NaN            USD
...          ...         ...            ...            ...
77255  37.751392 -122.430180            NaN            USD
77256  37.751392 -122.430180            NaN            USD
77257  37.751392 -122.430180            NaN            USD
77258  37.751392 -122.430180            NaN            USD
77259  37.751392 -122.430180            NaN            USD

                                  menus.dateSeen  \
15     2016-06-05T20:15:56Z,2016-10-20T07:09:38Z
16     2016-06-05T20:15:56Z,2016-10-20T07:09:38Z
17     2016-06-05T20:15:56Z,2016-10-20T07:09:38Z
18                          2016-08-22T00:00:00Z
19                          2016-08-22T00:00:00Z
...                                          ...
77255                   2017-06-22T16:40:06.448Z
77256                   2017-06-22T16:40:06.448Z
77257                   2017-06-22T16:40:06.448Z
77258                   2017-06-22T16:40:06.448Z
77259                   2017-06-22T16:40:06.448Z

                                       menus.description  \
15     Potatoes, onion, peppers, mushroom, avocado, b...
16     Grilled tofu, potatoes and your choice of chil...
17                                                   NaN
18                                                   NaN
19     lettuce, chihuahua cheese, black beans, mexica...
...                                                  ...
77255  meat, rice, beans, guacamole, sour cream, chee...
77256                 melted cheese, rice, beans & salsa
77257                                       meat & salsa
77258                          meat, rice, beans & salsa
77259  stuffed with rice, beans, meat, topped with en...

                     menus.name                                     name  \
15         Mondo Veggie Burrito                               Java Joe's
16                 Tofu Burrito                               Java Joe's
17           Black Bean Burrito                               Java Joe's
18             Burrito De Rajas  Mago Grill & Cantina - South Barrington
19                         Taco  Mago Grill & Cantina - South Barrington
...                         ...                                      ...
77255             Super Burrito                       La Casona Taqueria
77256  Steamed Broccoli Burrito                       La Casona Taqueria
77257              Regular Taco                       La Casona Taqueria
77258           Regular Burrito                       La Casona Taqueria
77259            Azteca Burrito                       La Casona Taqueria

            province
15                NM
16                NM
17                NM
18     Fox Rv Vly Gn
19     Fox Rv Vly Gn
...              ...
77255     California
77256     California
77257     California
77258     California
77259     California

[40511 rows x 16 columns]

In [30]:
# print(df[['categories', 'city']])

print(f"df['categories']: {df['categories'].info()}\n")
print(f"df[['categories']]: {df[['categories']].info()}")

<class 'pandas.core.series.Series'>
RangeIndex: 77260 entries, 0 to 77259
Series name: categories
Non-Null Count  Dtype
--------------  -----
77260 non-null  object
dtypes: object(1)
memory usage: 603.7+ KB
df['categories']: None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77260 entries, 0 to 77259
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   categories  77260 non-null  object
dtypes: object(1)
memory usage: 603.7+ KB
df[['categories']]: None

In [42]:
print(df['city'].value_counts())

city
San Diego            1924
Los Angeles          1603
Chicago              1186
San Francisco        1120
New York             1085
                     ...
Corfu                   1
Sharon Hill             1
Lawrence Township       1
Selinsgrove             1
Santa Clarita           1
Name: count, Length: 3601, dtype: int64

In [64]:
# result = df[df['name'] == 'Taco Bell'].groupby('city').size().nlargest(5)
result = (
    df[df['name'] == 'Taco Bell']
    .groupby('city')['name']
    .count()
    .sort_values(ascending=False)
    .head()
)
print(result)

city
Indianapolis    84
Columbus        63
Charleston      63
Tampa           62
Fresno          42
Name: name, dtype: int64